// reset css

* 
  padding: 0 
  margin: 0
  box-sizing: none
  border: 0

ul 
  list-style-type: none

a 
  text-decoration: none
  
.clear
  clear: both


@font-face  
  font-family: clemente
  src: url('/fonts/clemente.ttf') 

@font-face  
  font-family: nilland
  src: url('/fonts/nilland.ttf')

// variabili

$stile_bordi: 3px dotted black

// stile generico

body
  padding: 0 
  margin: 0
  background: #999 url(/images/bg.png) repeat-x
  font-family: clemente, Helvetica, Verdana, Arial

a
  color: #222
  font-weight: bold
a:hover
  color: #777
  text-shadow: 1px -1px 0px #000


// stile layout
  
header h1   
  margin: 30px auto 20px auto
  border-bottom: $stile_bordi
  img
    margin: 30px auto 20px auto
    display: block
    width: 150px
    
nav 
  margin: 50px 10px 50px 10px
  background: black
  text-align: center
  padding: 6px
  width: 100%
  a
    font-size: 1.4em
    margin: 4%
    color: white
  a:hover
    color: lightgrey

.content
  width: 85%
  margin: 40px auto 30px auto
  border: $stile_bordi
  padding: 1.5% 2% 3% 2%
  border-radius: 12px
  h1
    margin: 0 0 10px 0
    
hr
  margin: 14px 0px 20px 0px
  border: 1.5px dotted black

// pagina home

#img_gal 
 
  position: relative
  img
    width: 100%
    float: left
    position: absolute
    -webkit-transition-property: opacity
    -webkit-transition-duration: 1s
    -webkit-transition-timing-function: ease-in-out
    -moz-transition-property: opacity
    -moz-transition-duration: 1s
    -moz-transition-timing-function: ease-in-out
    opacity: 0
    display: block 
  img:first-child
    opacity: 1
    
img.full 
  width: 100%
  
    
p.about 
  background: light grey
  color: black
  text-shadow: 2px 2px px black
  font-size: 17.5px
  font-family: nilland 
  
  background-size: cover
  
p
  font-family: nilland
  font-size: 20px  
  
    

// pagina liste designs/lavori

.box
  background: white


.design, .work
  float: left
  width: 30.6%
  margin: 0px 4% 3px 0px
  p
    margin-top: 10px
    background: black
    text-align: center
    a
      color: white
  img
    width: 100%
    
.design:nth-child(3n), .work:nth-child(3n)
  margin: 0px 0% 3px 0px

// pagina singola t-shirt/work

.single
  img
    width: 100%
 
 
// pagina contatti


#map_canvas
  margin: 10px 0px 20px 0px

.map
  margin: 20px 0 0 0
  width: 100%
  height: 500px