.box_sinistra
  %h1 FIRENZE
  #map_canvas.map
  
 
  %p
    %b Indirizzo:
    Via Ferruccio Busoni, 2/rosso 

  %p
    %b Email: 
    elletiestudio@gmail.com

    %p
      %b Telefono: 
      055/9753776
  
.box_destra
 
  %h2 CAMPOBASSO
  #map_canvas2.map
  %p
    %b Indirizzo:
    Via Principe di Piemonte, 131/V 

  %p
    %b Email: 
    lte.color@yahoo.it

    %p
      %b Telefono: 
      0874/94651



%script{ src: "http://maps.google.com/maps/api/js?sensor=false" }