.box_sinistra
  %h1 about
  %img{ src:"/images/logo_cartone.jpg" }
  %p LTE è uno Studio di grafica professionale e un centro stampa di alta qualità, che da oltre 30 anni opera in questo settore. Prezzi contenuti, mentalità giovane e attenzione verso il cliente sono gli elementi che creano la base dalla quale ogni nostro lavoro prende forma. 
  
.box_destra
  #img_gal
    %img{ src:"/images/gallery/homeless_2.jpg" }
    %img{ src:"/images/gallery/maglietta.jpg" }
    %img{ src:"/images/gallery/walter.jpg" }
    %img{ src:"/images/gallery/maglietta_verde.jpg" }
    %img{ src:"/images/gallery/dude.jpg" }
    %img{ src:"/images/gallery/maglietta_imp.jpg" }
    %img{ src:"/images/gallery/impronta.jpg" }
    %img{ src:"/images/gallery/homeless_1.jpg" }
    %img{ src:"/images/gallery/12monk.jpg" }
    %img{ src:"/images/gallery/maglietta_donna.jpg" }
    %img{ src:"/images/gallery/subway.jpg" }
    %img{ src:"/images/gallery/maglietta_ali.jpg" }
    %img{ src:"/images/gallery/love.jpg" }


