.box_sinistra
  %h1 about
  %img{ src:"/images/logo_cartone.jpg" }
  %p LTE è uno Studio di grafica professionale e un centro stampa di alta qualità, che da oltre 30 anni opera in questo settore. Prezzi contenuti, mentalità giovane e attenzione verso il cliente sono gli elementi che creano la base dalla quale ogni progetto prende forma. 
  
.box_destra
  #img_gal
    %a
      %img{ src:"/images/gallery/control_mind.jpg" }
    %a
      %img{ src:"/images/gallery/walter_white.jpg" }
    %a
      %img{ src:"/images/gallery/angela.jpg" }
    %a
      %img{ src:"/images/gallery/biglietti.jpg" }
    %a
      %img{ src:"/images/gallery/homeless.jpg" } 
    %a
      %img{ src:"/images/gallery/plottaggi.jpg" }      
    %a
      %img{ src:"/images/gallery/breathe.jpg" }
    %a
      %img{ src:"/images/gallery/homeless_b.jpg" } 
    %a
      %img{ src:"/images/gallery/jespin.jpg" }
    %a
      %img{ src:"/images/gallery/in_subway.jpg" }  
              
    

