#img_gal
  %img{ src:"/images/gallery/homeless_2.png" }
  %img{ src:"/images/gallery/maglietta.png" }
  %img{ src:"/images/gallery/walter.png" }
  %img{ src:"/images/gallery/maglietta_verde.png" }
  %img{ src:"/images/gallery/dude.png" }
  %img{ src:"/images/gallery/maglietta_imp.png" }
  %img{ src:"/images/gallery/impronta.png" }
  %img{ src:"/images/gallery/homeless_1.png" }
  %img{ src:"/images/gallery/12monk.png" }
  %img{ src:"/images/gallery/maglietta_donna.png" }
  %img{ src:"/images/gallery/subway.png" }
  %img{ src:"/images/gallery/maglietta_ali.png" }
  %img{ src:"/images/gallery/love.png" }
  
  
