#img_gal
  %img{ src:"/images/gallery/maglietta.png" }
  %img{ src:"/images/gallery/maglietta_verde.png" }
  %img{ src:"/images/gallery/maglietta_imp.png" }
  %img{ src:"/images/gallery/maglietta_nera.png" }
  %img{ src:"/images/gallery/maglietta_donna.png" }
  %img{ src:"/images/gallery/maglietta_ali.png" }





