#img_gal
  %img{ src:"/images/gallery/logo_1.png" }
  %img{ src:"/images/gallery/maglietta.png" }
  %img{ src:"/images/gallery/maglietta_verde.png" }
  %img{ src:"/images/gallery/maglietta_imp.png" }
  %img{ src:"/images/gallery/maglietta_nera.png" }
  %img{ src:"/images/gallery/maglietta_donna.png" }
  %img{ src:"/images/gallery/maglietta_ali.png" }
  
  .clear

%img.full{ src:"/images/gallery/logo_1.png", style: "opacity: 0" }
%hr

%p Cos'è LTE Studio:

%p.about Lte studio è un centro di grafica e stampa che nasce con l'obiettivo di soddisfare tutte le esigenze e le necessità dei vari clienti. I principali servizi che offriamo comprendono: stampa personalizzata su T-shirt, con la possibilità di scegliere tra le grafiche presenti nel negozio, elaborazione render3d, stampe su piccoli, medi e grandi formati, plottaggi, vetrofanie, tesi di laurea, rilegature, elaborazione e stampa di book fotografici, biglietti da visita, poster e molto altro ancora. Lo studio è anche un laboratorio artistico utilizzato principalmente per la realizzazione di quadri e opere con la tecnica dello "stencil", gli stessi quadri possono essere personalizzati secondo le esigenze di ogni cliente. 


