%html
  %head
    %title LTE Studio
    %link{ rel: "shortcut icon", href:"/images/logo_ico.ico"}
    %link{ rel: "stylesheet", href: "/css/main.css" }
    %meta{ property: "description", content: "LTE studio è un centro di grafica e stampa che nasce con l'obiettivo di soddisfare tutte le esigenze e le necessità dei vari clienti." }
    %meta{ property: "keywords", content: "LTE studio, stampa, grafica, firenze, fotocopie, stampe fotografiche, fotografia, t-shirt, personalizzate, plottaggi, plotter, render 3d, quadri, stencil" }
    %meta{ property: "author", content: "Giuseppe Di Marzo, Francesco 'makevoid' Canessa" }
    %meta{ property: "og:url", content: "http://ltestudio.it/" }
    %meta{ property: "og:site_name", content: "LTE Studio" }
    %meta{ property: "og:title", content: "LTE Studio" }
    %meta{ property: "og:type", content: "website" }
    %meta{ property: "og:image", content: "http://ltestudio.it/images/logo.png" }
    %meta{ property: "fb:admins", content: "giuseppe.d.marzo" }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0, user-scalable=no" }
    %script{ type: "text/javascript", src: "/js/ie_html5.js" }
  %body
    #container
      %header
        %h1
          %a{ href: "/" }
            / Ltestudio
            %img{src: "/images/logo.png"}
      %nav
        %a{ href: "/" }         HOME
        %a{ href: "" }         I
        %a{ href: "/t-shirts" } T-SHIRT
        %a{ href: "" }         I
        %a{ href: "/works" }    WORKS
        %a{ href: "" }         I
        %a{ href: "/shop" }     SHOP
        %a{ href: "" }         I
        %a{ href: "/stampe" }   STAMPE
        %a{ href: "" }         I
        %a{ href: "/sport" }   SPORT
        %a{ href: "" }         I
        %a{ href: "/contatti" } CONTATTI

      %script{ type: "text/javascript", src: "/js/vendor/jquery.js" }
      %section.content
        = yield
      .push
    .footer
      © LTE di Di Marzo Antonio & C. S.a.s - P.Iva n°01684190703

    %script{ type: "text/javascript", src: "/js/vendor/underscore.js" }
    %script{ type: "text/javascript", src: "/js/vendor/jquery_imagesloaded.js" }
    - if request.user_agent =~ /MSIE/
      %script{ type: "text/javascript", src: "/js/vendor/jquery_cycle.js" }
    %script{ type: "text/javascript", src: "/js/app.js" }