%html
  %head
  
   
    %title LTE Studio
    %link{ rel: "shortcut icon", href:"/images/logo_ico.ico"}
    %link{ rel: "stylesheet", href: "/css/main.css" }
    %meta{ property: "description", content: "LTE studio è un centro di grafica e stampa che nasce con l'obiettivo di soddisfare tutte le esigenze e le necessità dei vari clienti." }
    %meta{ property: "keywords", content: "LTE studio, stampa, grafica, firenze, fotocopie, stampe fotografiche, fotografia, t-shirt, personalizzate, plottaggi, plotter, render 3d, quadri, stencil" }
    %meta{ property: "author", content: "Giuseppe Di Marzo, Francesco 'makevoid' Canessa" }
    %meta{ property: "og:url", content: "http://ltestudio.it/" }
    %meta{ property: "og:site_name", content: "LTE Studio" }
    %meta{ property: "og:title", content: "LTE Studio" }
    %meta{ property: "og:type", content: "website" }
    %meta{ property: "og:image", content: "http://ltestudio.it/images/logo.png" }
    %meta{ property: "fb:admins", content: "giuseppe.d.marzo" }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0, user-scalable=no" }
    
    %script{ type: "text/javascript", src: "/js/vendor/jquery.js" }
    / html5 elements ie
    :javascript
      (function(){if(!/*@cc_on!@*/0)return;var e = "abbr,article,aside,audio,bb,canvas,datagrid,datalist,details,dialog,eventsource,figure,footer,header,hgroup,mark,menu,meter,nav,output,progress,section,time,video".split(','),i=e.length;while(i--){document.createElement(e[i])}})()
  %body
    #container
      %header
        %h1 
          %a{ href: "/" }
            / Ltestudio
            %img{src: "/images/logo.png"}
      %nav
        %a{ href: "/" }         Home
        %a{ href: "/t-shirts" } T-shirt
        %a{ href: "/works" }    Works
        %a{ href: "/shop" }     Shop
        %a{ href: "/stampe" }   Stampe
        %a{ href: "/contatti" } Contatti
        
      %section.content= yield
      
    %script{ type: "text/javascript", src: "/js/vendor/underscore.js" }
    %script{ type: "text/javascript", src: "/js/app.js" }    