.box_sinistra
  %h1 STAMPE
  %img{ src:"/images/logo_cartone.jpg" }
  %p Da Lte puoi stampare:   Flyer-Adesivi-Banner-Biglietti da visita-Tesi di laurea-Plottaggi- Fotografie-Timbri-Fotocopie B/N e colore-Etichette adesive e molto altro ancora. Clicca sulla gallery per vedere alcuni esempi di stampe.
  
.box_destra
  #img_gal
    - STAMPE.each do |stampa|
      - link = "/stampe/#{stampa.file}"
      - img = "/images/stampe/#{stampa.file}.png"
      %a.fancy{ href: img,  rel: "group" }
        %img{ src: "/images/stampe/#{stampa.file}.png", :"data-link" => link  } 



