.box_sinistra
  %h1 STAMPE
  %p LTE è uno Studio di grafica professionale e un centro stampa di alta qualità, che da oltre 30 anni opera in questo settore. Prezzi contenuti, mentalità giovane e attenzione verso il cliente sono gli elementi che creano la base dalla quale ogni nostro lavoro prende forma. 
  
.box_destra
  #img_gal
    - STAMPE.each do |stampa|
      - link = "/stampe/#{stampa.file}"
      - img = "/images/stampe/#{stampa.file}.png"
      %a.fancy{ href: img,  rel: "group" }
        %img{ src: "/images/stampe/#{stampa.file}.png", :"data-link" => link  } 



