.box_sinistra
  %h1 T-SHIRT
  %p LTE è uno Studio di grafica professionale e un centro stampa di alta qualità, che da oltre 30 anni opera in questo settore. Prezzi contenuti, mentalità giovane e attenzione verso il cliente sono gli elementi che creano la base dalla quale ogni nostro lavoro prende forma. 
  
.box_destra
  #img_gal
    - DESIGNS.each do |design|
      - link = "/t-shirts/#{design.file}"
      - img = "/images/designs/#{design.file}.png"
      %a.fancy{ href: img,  rel: "group" }
        %img{ src: "/images/designs/#{design.file}.png", :"data-link" => link  } 
 


