%h1 Grafiche T.shirts

%div.box
  - DESIGNS.each do |design|
    .design
      - link = "/t-shirts/#{design.file}"
  
      %a{ href: link }
        %img{ src: "/images/designs/#{design.file}.png" }
        %p
          %a{ href: link }
            = design.name
.clear

