.box_sinistra
  %h1 T-SHIRT
  %img{ src:"/images/logo_cartone.jpg" }
  %p Lte studio offre la possibilità a persone singole, aziende o attività commerciali di realizzare magliette, felpe, borse e molto altro con delle grafiche personalizzate. Clicca sulla gallery per vedere alcune delle nostre magliette che possono essere acquistate contattandoci via mail.
  
.box_destra
  #img_gal
    - DESIGNS.each do |design|
      - link = "/t-shirts/#{design.file}"
      - img = "/images/designs/#{design.file}.jpg"
      %a.fancy{ href: img,  rel: "group" }
        %img{ src: "/images/designs/#{design.file}.jpg", :"data-link" => link  } 
 


