%h1  #{@work.name}

.single
  %img{ src: "/images/work/#{@work.file}.jpg" }
  
.like_content
  %div{ class: "fb-like", "data-href" => "http://ltestudio.it/works/#{@work.file}", "data-send" => "true", "data-width" => "250", "data-show-faces" => "false" }  

.clear  