%h1 Stencil Art

%div.box
  - WORKS.each do |work|
    .work
      - link = "/works/#{work.file}"

      %a{ href: link }
        %img{ src: "/images/works/#{work.file}.png" }
      %p
        %a{ href: link }
          = work.name.capitalize
  
  
.clear