* {
  padding: 0;
  margin: 0;
  box-sizing: none; }

ul {
  list-style-type: none; }

a {
  text-decoration: none;
  border: 0; }

.clear {
  clear: both; }

@font-face {
  font-family: clemente;
  src: url("/fonts/clemente.ttf"); }

body {
  padding: 0;
  margin: 0;
  background: #bbbbbb url(/images/bg.png) repeat-x;
  font-family: clemente, Helvetica, Verdana, Arial; }

a {
  color: #222222;
  font-weight: bold; }

a:hover {
  color: #777777;
  text-shadow: 1px -1px 0px black; }

header h1 {
  margin: 30px auto 20px auto;
  border-bottom: 3px dotted black; }
  header h1 img {
    margin: 30px auto 20px auto;
    display: block;
    width: 150px; }

nav {
  margin: 50px 10px 50px 10px;
  background: black;
  text-align: center;
  padding: 6px; }
  nav a {
    font-size: 1.4em;
    margin: 4%;
    color: white; }
  nav a:hover {
    color: lightgrey; }

.content {
  width: 85%;
  margin: 40px auto 30px auto;
  border: 3px dotted black;
  padding: 1.5% 2% 3% 2%;
  border-radius: 12px; }
  .content h1 {
    margin: 0 0 10px 0; }

hr {
  margin: 0px 6px 20px 6px;
  border: 1.5px dotted black; }

#img_gal {
  height: 680px;
  position: relative; }
  #img_gal img {
    width: 100%;
    float: left;
    position: absolute;
    -webkit-transition-property: opacity;
    -webkit-transition-duration: 1s;
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-property: opacity;
    -moz-transition-duration: 1s;
    -moz-transition-timing-function: ease-in-out;
    opacity: 0; }
  #img_gal img:first-child {
    opacity: 1; }

p {
  background: light grey;
  color: white;
  text-shadow: 1px 1px 5px black;
  font-size: 20px; }

.box {
  background: white; }

.design, .work {
  float: left;
  width: 48.6%;
  margin: 0 2.8% 30px 0; }
  .design p, .work p {
    margin-top: 10px;
    background: black;
    text-align: center; }
    .design p a, .work p a {
      color: white; }
  .design img, .work img {
    width: 100%; }

.design:nth-child(2n), .work:nth-child(2n) {
  margin: 0 0 30px 0; }

.single img {
  width: 100%; }

#map_canvas {
  margin: 20px 0 0 0;
  width: 100%;
  height: 500px; }
