* {
  padding: 0;
  margin: 0;
  box-sizing: none;
  border: 0;
  text-align: center; }

ul {
  list-style-type: none; }

a {
  text-decoration: none; }

.clear {
  clear: both; }

section {
  display: block; }

@font-face {
  font-family: clemente;
  src: url("/fonts/clemente.eot");
  src: url("/fonts/clemente.eot?#iefix") format("embedded-opentype"), url("/fonts/clemente.woff") format("woff"), url("/fonts/clemente.ttf") format("truetype"), url("/fonts/clemente.svg#Clemente") format("svg"), url("/fonts/clemente.otf"); }

html, body {
  height: 100%; }

body {
  padding: 0;
  margin: 0;
  background: url(/images/sfondorib.png) repeat-x;
  font-family: clemente, Helvetica, Verdana, Arial;
  text-align: center; }

a {
  color: #222222;
  font-weight: bold; }

a:hover {
  color: grey;
  text-shadow: 2px 0px 3px light-grey; }

header h1 {
  margin: -30px auto 30px auto; }
  header h1 img {
    margin: 30px auto 20px auto;
    display: block;
    width: 90px; }

nav {
  margin: -23px 0px 0px 0px;
  background: black;
  text-align: center;
  padding: 4px;
  width: 100%;
  color: #008a2e; }
  nav a {
    font-size: 0.9em;
    margin: 4% 1%;
    color: white; }
  nav a:hover {
    color: #008a2e; }

.content {
  width: 51%;
  margin: 25px auto 30px auto;
  border: 2px dotted #008a2e;
  padding: 1.5% 2% 3% 2%;
  border-radius: 0px;
  background: white;
  text-align: left;
  background: rgba(255, 255, 255, 0.6); }
  .content h1 {
    margin: 0 0 10px 0px;
    text-align: center; }

hr {
  margin: 14px 0px 20px 0px;
  border: 1.5px dotted black; }

#container {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -30px; }

.footer, .push {
  height: 30px;
  font-size: 0.6em; }

#img_gal {
  position: relative; }
  #img_gal img {
    width: 100%;
    float: left;
    position: absolute;
    -webkit-transition-property: opacity;
    -webkit-transition-duration: 1s;
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-property: opacity;
    -moz-transition-duration: 1s;
    -moz-transition-timing-function: ease-in-out;
    -o-transition-property: opacity;
    -o-transition-duration: 1s;
    -o-transition-timing-function: ease-in-out;
    opacity: 0;
    display: block; }
  #img_gal img:first-child {
    opacity: 1; }

p.about {
  color: black;
  text-shadow: 2px 2px px black;
  font-size: 0.9em;
  font-family: clemente;
  background-size: cover; }

p {
  font-family: clemente;
  font-size: 1.2em;
  margin: 0 20px 0 20px; }

.box {
  background: white; }

.design, .work {
  float: left;
  width: 30.6%;
  margin: 0px 4% 3px 0px; }
  .design p, .work p {
    margin-top: 0px;
    background: black;
    text-align: center;
    font-size: 1em;
    margin: 0 18px 0 25px;
    border-radius: 10px; }
    .design p a, .work p a {
      color: white;
      font-size: 0.7em; }
  .design img, .work img {
    width: 100%;
    margin: 8px 0 0 0;
    border: 3px solid #008a2e; }

.design:nth-child(3n), .work:nth-child(3n) {
  margin: 0px 0% 3px 0px; }

body.ie .design, body.ie .work {
  width: 29.2%; }

.single img {
  width: 90%;
  margin: auto;
  border: 3px solid #008a2e; }

.caption {
  position: absolute;
  letter-spacing: 0.05em;
  color: white;
  padding: 2px 8px 2px;
  background: #008a2e;
  margin: -17px 0px 0px -21px;
  opacity: 0.75;
  width: 25%;
  font-size: 1.4em;
  z-index: 4; }

#map_canvas {
  margin: auto auto 20px auto;
  border: 3px solid; }

#map_canvas2 {
  margin: auto;
  border: 3px solid; }

.map {
  margin: 20px 0 0 0;
  width: 70%;
  height: 300px; }

.box {
  background: white; }

.stampa {
  float: left;
  width: 30.6%;
  margin: 0px 4% 3px 0px; }
  .stampa p {
    margin-top: 0px;
    background: black;
    text-align: center;
    font-size: 1em;
    margin: 0 18px 0 25px;
    border-radius: 10px; }
    .stampa p a {
      color: white;
      font-size: 0.7em; }
  .stampa img {
    width: 100%;
    margin: 8px 0 0 0;
    border: 3px solid #008a2e; }

.stampa:nth-child(3n) {
  margin: 0px 0% 3px 0px; }

body.ie .design, body.ie .work {
  width: 29.2%; }
